# Use postgres/example user/password credentials
version: '3.9'

services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - ./build_scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Build and run the go application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      - PORT=8080
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/bark_c2
      - APPLICATION_NAME=BARK-C2
      - LOG_LEVEL=DEBUG
      - JWT_SECRET=secret
    depends_on:
      db:
        condition: service_healthy
    restart: always